@import "bootstrap";

.intro{
  text-align: center;
}

img{
  padding-top: 15%;
}

// .container {
//   height: 100vh;
// }

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.thumnail img {
  width: 100%;
  height: 100%;
}
